<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= service.duration %>
  </p>

  <p>
    <strong>Client price:</strong>
    <%= service.client_price %>
  </p>

</div>
