<div class="card">
    <div class="card-body">
        <%= render 'users/user', user: @user %>
    </div>
     <div class="card-footer">
        <%= link_to "All Users", users_path %>
    </div>
</div>

